CLEARML_CONFIG_FILE=clearml.conf
CLEARML_WEB_HOST=<my-clearml-web-host>
CLEARML_API_HOST=<my-clearml-api-host>
CLEARML_FILES_HOST=<my-clearml-files-host>
CLEARML_API_ACCESS_KEY=<my-clearml-api-access-key>
CLEARML_API_SECRET_KEY=<my-clearml-api-secret-key>
